.centralized {
  display: flex;
  justify-content: center;
}

.spinner {
  pointer-events: none;
  color: var(--first-color);
  font-size: 3.5rem;
  margin-top: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spinner-spin infinite 2s linear;
  }
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
