.container__bar {
  display: flex;
  justify-content: space-evenly;
  background-color: hsl(210, 11%, 11%);
  color: var(--title-color);
  border-radius: 5rem;
  /* padding-top: 0.2rem; */
  /* padding-bottom: 0.3rem; */
}

.list-item {
  cursor: pointer;
  font-weight: var(--font-semi-bold);
  padding: 0 0.3rem;
  padding-bottom: 0.5rem;
}

.active {
  border-bottom: 0.25rem solid white;
}
